/* PAGE BACKGROUND */
.game-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #5f2eea, #7b61ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CARD */
.game-card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  padding: 30px 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* HEADER */
.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.game-header h2 {
  margin: 0;
  color: #4b3f72;
}

.score {
  background: #f3f0ff;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  color: #5f2eea;
}

/* HINT */
.hint-box {
  background: #f6f4ff;
  border-left: 5px solid #7b61ff;
  padding: 12px 15px;
  border-radius: 12px;
  margin-bottom: 25px;
  text-align: center;
}

.hint-box h4 {
  margin: 0 0 5px;
  color: #5f2eea;
}

.hint-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* QUESTION */
.question-box {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

.question-box .op {
  margin: 0 12px;
  color: #7b61ff;
}
.explain-box {
 background: #f6f4ff;
  border-left: 5px solid #7b61ff;
  padding: 12px 15px;
  border-radius: 12px;
  margin-bottom: 25px;
  text-align: center;
  color: #000;
}

/* INPUT + BUTTON */
.answer-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.answer-box input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
}

.answer-box input:focus {
  border-color: #7b61ff;
}

.answer-box button {
  background: #7b61ff;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.answer-box button:hover {
  background: #5f2eea;
}

/* MESSAGE */
.message {
  font-weight: bold;
  margin-top: 10px;
  font-size: large;
  color: red;
}
